body {
}

/* 在这里写样式控制 */

#headblock {
    color: #366;
    border-style: dashed;
    border-color: #687A8F;
    background-color: #FFF;
}

#guideblock {
    border-style: dashed;
    border-color: #F7882F;
    background-color: #FFF;
}

#mainblock {
    background-color: #FFF;
}

#leftblock {
    background-color: #FFF;
    border-style: dashed;
    border-color: #77C331;
}

#rightblock {
    background-color: #FFF;
    border-style: dashed;
    border-color: #77C331;
    font-size: 30px;
}

#bottomblock {
    background-color: #FFF;
    border-style: dashed;
    border-color: #DCC7AA;
}
